.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.switcher-wrapper {
  display: flex;
  align-items: center;
}
.switcher {
  opacity: 1 !important;
}

.switcher-label {
  margin-right: 30px;
  font-weight: 600;
  font-size: 14px;
  color: #002636;
}

.switch-icon {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.positive-switcher {
  position: absolute;
  top: 12px;
  left: 25px;
}

.negative-switcher {
  position: absolute;
  top: 12px;
  right: 25px;
}

.header {
  background-color: #1d1d1d;
  min-width: 100%;
  position: fixed;
  height: 90px;
}

.text-color {
  color: white;
  align-content: flex-start;
  padding-top: 20px;
  padding-left: 250px;
  float: left;
}

.sidemenu {
  color: white !important;
  height: 100%;
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 1 !important;
  overflow: hidden;
  background-color: darkblue !important;
  width: 240px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.feature-link {
  font-weight: 600;
  color: #5395df;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.table {
  font-size: 14px;
}

.table td:first-child,
.table th:first-child {
  padding-left: 30px;
}

.table td:last-child,
.table th:last-child {
  padding-right: 30px;
}

.table thead th {
  padding: 20px 12px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.table td {
  height: 50px;
  border: none;
  border-bottom: 1px solid #969696;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #052635;
  vertical-align: middle;
  max-width: 220px;
}

.order-4,
.caret-4-asc,
.caret-4-desc {
  margin-left: 5px;
}

.order-4::after {
  display: none;
}

.order-4::before {
  display: none;
}

.caret-4-asc::after {
  display: none;
}

.caret-4-desc::before {
  display: none;
}

.features-table {
  padding-top: 140px;
  padding-left: 250px;
  padding-right: 100px;
}

.form {
  order: 0;
  width: 100%;
}

.stretch {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
